nav{
    background-color: skyblue;
}
nav img{
    width: 70px;
}

nav ul{
    float: right;
    list-style-type: none;
}

ul li{
    display: inline-block;
}

li a{
    color: #fff;  /* Remove color white or change color to dark colors */
    text-decoration: none;
    cursor: pointer;
}