<!-- Remove nav and wrap the list with div -->
<div>
<!--nav-->
    <ul>
        <li><a routerLink="">Home</a></li> <!-- remove route home from routerlink -->
        <li><a routerLink="about">About</a></li>
        <li><a routerLink="/user" routerLinkActive="active">User</a></li>  <!-- Remove / and reouterlinkactive -->
            <!-- 
            <a routerLink="user/10" >Peter</a>
            <br>
            <a routerLink="user/20" >Sam</a>
            <br>
            <a routerLink="user/30" >Bruce</a>
            <br> 
             -->
    </ul>
<!--/nav-->
</div>    